<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channels</key>
	<array>
		<string>AdobeAudition-7.0.0-Trial</string>
		<string>AdobeDynamicLinkMediaServer-7.0</string>
		<string>AdobeDynamiclinkSupport-7</string>
	</array>
    <key>munki_update_for</key>
	<array>
	    <string>AdobeAuditionCC2014</string>
    </array>
    <key>munki_repo_destination_path</key>
    <string>apps/Adobe/CC/2014</string>
</dict>
</plist>
