<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channels</key>
	<array>
		<string>AdobeAPE3.4_Mac_NoLocale</string>
		<string>AdobeColor-PhotoshopSpecificCC-5.0</string>
		<string>AdobeColorVideoProfilesCSCC-5.0</string>
		<string>AdobePhotoshopCC2014-15.0</string>
		<string>AdobePhotoshopCC2014Support-15.0</string>
		<string>CameraProfilesInstaller-8.0</string>
		<string>PhotoshopCameraRaw8-8.0</string>
	</array>
    <key>munki_update_for</key>
	<array>
	    <string>AdobePhotoshopCC2014</string>
    </array>
    <key>munki_repo_destination_path</key>
    <string>apps/Adobe/CC/2014</string>
</dict>
</plist>
